[Desktop Entry]
Name=MCT Trigger6 Settings
Comment=Monitor and configure MCT Trigger6 USB displays
Exec=mct-t6-settings
Icon=video-display
Terminal=false
Type=Application
Categories=Settings;HardwareSettings;System;
Keywords=display;usb;trigger6;monitor;mct;
StartupNotify=true
